.navbar {
  height: 10vh;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 2rem;
  color: #fff;
  position: relative;
}

.logoBox a {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: rgb(18, 125, 4);
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: #fff;
}

.menuBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  width: 8rem;
}

.menuBox svg,
.times {
  font-size: 2rem;
}

.searchBox {
  flex: 1;
  display: flex;
  position: relative;
  justify-content: center;
}

.searchBox input {
  width: 90%;
  padding: 0.9rem;
  outline: none;
  border-radius: 3px;
  border: none;
}

.searchBox svg {
  position: absolute;
  right: 7%;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
  font-weight: bold;
  font-size: 2rem;
}

.watchlist a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
}

.loginBox a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
}

.box {
  padding: 0.5rem;
  border-radius: 3px;
  transition: all 0.3s;
}

.box:hover {
  background-color: #222;
}

.sideMenu {
  position: absolute;
  height: 90vh;
  width: 0;
  background-color: #111;
  top: 10vh;
  left: 0;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 1rem;
  padding-top: 4rem;
  z-index: 1000;
}

.sideMenu li {
  background-color: #fff;
  padding: 0.5rem 1.5rem;
  width: 0;
  height: 0;
  opacity: 0;
  border-radius: 0.5rem 0 0 0;
  transition: all 0.5s;
  transition-delay: 0.4s;
}

.sideMenu a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #000;
}

.open {
  width: 23rem;
  opacity: 1;
}

.open li {
  width: 80%;
  height: 3.5rem;
  opacity: 1;
}
