.reviewPage {
  color: #fff;
  padding: 1rem 4rem;
}

.pageNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.icon {
  padding: 1rem;
  background-color: #222;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.icon svg {
  transition: all 0.3s;
  padding: 1px;
  border-radius: 50%;
}

.icon svg:hover {
  transform: scale(1.2);
  background-color: #000;
}
