.reviewPage {
  color: #fff;
  padding: 1rem 4rem;
  position: relative;
  min-height: 100vh;
}

.pageNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.icon {
  padding: 1rem;
  background-color: var(--clr-primary-shade);
  display: flex;
  gap: 1rem;
  align-items: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.icon svg {
  transition: all 0.3s;
  padding: 1px;
  border-radius: 50%;
}

.icon svg:hover {
  transform: scale(1.2);
  background-color: #000;
}

.menu {
  display: flex;
  gap: 0.5rem;
  background-color: var(--clr-primary-tint);
  padding: 0.5rem;
}

.menu span {
  padding: 0.5rem;
}

.active {
  background-color: var(--clr-primary-shade);
}

.spinner {
  position: absolute;
  background-color: #000;
  top: 50%;
  left: 50%;
  z-index: 100;
}

@media only screen and (max-width: 600px) {
  .reviewPage {
    padding: 1rem;
  }
}
