.carousel {
  flex: 2;
  box-shadow: rgba(0, 0, 0, 0.25);
  display: flex;
}

.boxCarousel {
  display: flex;
  overflow: hidden;
  position: relative;
  flex: 1;
}

.left {
  z-index: 10;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  border: 1px solid #fff;
  padding: 1rem;
}

.right {
  z-index: 10;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  color: #fff;
  border: 1px solid #fff;
  padding: 1rem;
}

@media only screen and (max-width: 850px) {
  .carousel {
  }
}
