.watchlist {
  color: #fff;
  position: relative;
}

.watchlist h2 {
  margin-bottom: 6rem;
}

.notSignIn {
  text-align: center;
  margin-top: 6rem;
  padding: 0 4rem;
}

.notSignIn svg {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.notSignIn p {
  margin-bottom: 1rem;
}

.notSignIn button {
  margin-top: 1rem;
  padding: 0.8rem 4rem;
  font-size: 1.6rem;
  color: #fff;
  background-color: var(--clr-btn);
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.notSignIn button:hover {
  background-color: var(--clr-btn-hover);
}

.signIn {
  max-width: 150rem;
  margin: 0 auto;
  width: 100%;
  padding: 8rem 4rem;
}
