.carousel h1 {
  margin-bottom: 3rem;
  color: rgb(18, 125, 4);
}
.carousel h2 {
  margin-bottom: 1rem;
}

.toptenCarousel {
  display: flex;
  transition: all 0.3s;
  gap: 2rem;
  width: min-content;
}

.item {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 42rem;
}
.poster {
  width: 23rem;
  height: 30rem;
  display: flex;
  justify-content: center;
}

.poster img {
  width: 23rem;
  height: 30rem;
  /* object-fit: cover; */
}
.info {
  width: 23rem;
  background-color: #222;
  flex: 1;
  padding: 1rem;
}

.left {
  z-index: 10;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  border: 1px solid #fff;
  padding: 1rem;
}

.right {
  z-index: 10;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  color: #fff;
  border: 1px solid #fff;
  padding: 1rem;
}

.nextSlides {
  transform: translateX(-100vw);
}
/* .bg {
  width: 100%;
  height: 100vh;
  background: url("../../assets/3694187-matrix_header.jpg") center/cover
    no-repeat fixed;
} */
