.loginPage {
  height: 100vh;
  padding: 4rem;
  color: #fff;
}

.loginBox {
  background-color: #222;
  width: 50rem;
  margin: 0 auto;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 5);
  text-align: center;
}

.loginForm {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.loginBox h2 {
  margin-bottom: 1rem;
}

.loginBox p {
  font-size: 1.2rem;
  text-align: start;
}

.loginBox p a {
  text-decoration: underline;
  margin-left: 3px;
}

.loginBox button {
  margin: 1rem 0;
}

@media only screen and (max-width: 600px) {
  .loginBox {
    width: 100%;
  }
}
