@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --clr-primary: #183d3d;
  --clr-primary-shade: #133131;
  --clr-primary-tint: #466464;
  --clr-primary-light: #bac5c5;
  --clr-secondary: #03001c;
  --clr-secondary-shade: #020016;
  --clr-secondary-tint: #353349;
  --clr-secondary-light: #b3b3bb;
  --clr-text: #fff;
  --clr-btn: #127d04;
  --clr-btn-hover: #22e707;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--clr-primary);
}

a {
  text-decoration: none;
  color: var(--clr-text);
}

li {
  list-style: none;
}

@media only screen and (max-width: 850px) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
}
